<div class="form-group" *ngIf="question" [formGroup]="form">
  <label for="question.key" class="label">{{ question.label }}</label>
  <ng-container [ngSwitch]="question.controlType">
    <input
      [formControlName]="question.key"
      *ngSwitchCase="controlType.Text"
      type="question.type"
      class="form-control"
      id="question.key"
      [readonly]="question.options.disabled"
    />
    <div *ngSwitchCase="controlType.Currency" class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">&euro;</span>
      </div>
      <input
        type="question.type"
        [readonly]="question.options.disabled"
        [formControlName]="question.key"
        class="form-control"
        id="question.key"
      />
    </div>
  </ng-container>
  <ng-container *ngIf="hasError">
    <small
      *ngFor="let message of errorMessages"
      class="form-text text-danger"
      >{{ message }}</small
    >
  </ng-container>
</div>
