@import "~src/styles/colors";

.transaction-item {
  box-sizing: border-box;
  height: 90px;
}

.merchant {
  font-weight: 500;
  font-size: 1.1rem;
}

.scrollable-container {
  height: 600px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
